<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>キャラ診断</title>
  <link rel="stylesheet" type="text/css" href="../assets/css/base.css">
  <script type="text/javascript" src="../assets/library/jquery-3.4.1.min.js"></script>
</head>
<body>
  <h1>キャラ診断</h1>
  <p><input type="text" id="name" value=""></p>
  <p><input type="button" id="getResult" value="診断！"></p>
  <h2>診断結果</h2>
  <p id="result">こちらに診断結果が表示されます</p>
  <div id="tweet"></div>
  <script type="text/javascript" src="../assets/js/base.js"></script>
</body>
</html>
