<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>間違い探しゲーム</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/base.css">
    <script type="text/javascript" src="../assets/library/jquery-3.4.1.min.js"></script>
</head>
<body>
    <h1>間違い探しゲーム(3問)</h1>
    <p><input id="btn" type="button" value="開始" onclick="gameStart();"></p>
    <p id="score"></p>
    <div id="cells"></div>
    <script type="text/javascript" src="../assets/js/base.js"></script>
</body>
</html>
